.AdminBooksHeaders, .AdminBookItem {
    display: grid;
    grid-template-columns: 1.8fr 4fr 1.2fr 1.2fr 1fr 1.1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    /*justify-items: center;*/
    /*align-content: center;*/
    width: 100%;
    padding: 0 10px;
}